* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	padding: 1rem;
}

h3 {
	padding: 0.5rem 1rem;
}

.resultsBar {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
}

.resultsBar > div {
	padding: 0.5rem 1rem;
}

.resultsBar__correctAnswers {
	background-color: green;
	color: white;
}

.resultsBar__incorrectAnswers {
	background-color: red;
	color: white;
}

.tasks {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
}

.tasks > div {
	width: 75px;
}

.tasks > div > input {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 3rem;
}

.buttons {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.button {
	border: 1px gainsboro solid;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	color: white;
	cursor: pointer;
}

.button_submit {
	background-color: green;
}

.button_reset {
	background-color: red;
}